.menu-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 10px;
}

.item-image {
  border-radius: 5px;
  max-width: 100%;
  height: auto;
}

.item-name {
  margin-top: 10px;
  margin-left: 5px;
  font-size: 20px;
  font-weight: 600;
}

.btn,
.btn:hover,
.btn:focus,
.btn:active {
  background-color: black !important;
  border: none !important;
  color: white !important;
}

.item-add-fav {
  margin-bottom: 10px;
}

.item-remove {
  margin-bottom: 10px;
}