.navbar {
  background-color: black;
}

.navbar-brand {
  color: white;
  margin: 7px 0;
}

.navbar-brand:hover,
.navbar-brand:focus {
  color: whitesmoke;
}

.news-container {
  max-width: 800px;
  margin: 50px auto auto;
}

.news-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
}

.news-content {
  text-align: justify;
}