<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Favorites</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" th:href="@{/css/favorites.css}">
	<link rel="stylesheet" th:href="@{/css/navbar.css}">
	<link rel="stylesheet" th:href="@{/css/menu-item.css}">
</head>
<body>
<th:block th:replace="~{navbar ::navbar('profile', 'news', 'menu', '')}"></th:block>
<div class="container menu-container">
	<div class="row justify-content-center" th:if="${menuItems.isEmpty()}">
		<div class="message-container">
			<p>There's nothing here yet, you can add items from the menu page</p>
		</div>
	</div>
	<th:block th:replace="~{menu-item ::menuItemTemplate('favorites')}"></th:block>
</div>
</body>
</html>