<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Form</title>
</head>
<body>
<div class="container mt-5 w-50" th:fragment="form(page, curPage, bottomText)">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<h2 class="text-center mb-4"
			    th:utext="${#strings.capitalize(#strings.replace(curPage, '-', ' '))}"></h2>
			<form method="post" th:action="@{'/' + ${curPage}}">
				<div class="form-group">
					<label for="username">Username:</label>
					<input type="text" class="form-control" id="username" name="username" required>
				</div>
				<div class="form-group">
					<label for="password">Password:</label>
					<input type="password" class="form-control" id="password" name="password" required>
				</div>
				<div class="form-group" th:if="${curPage eq 'sign-up'}">
					<label for="confirmPassword">Confirm Password:</label>
					<input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
				</div>
				<!-- Element for error messages-->
				<p style="color: red; font-size: 12px; margin: 0" th:text="${message}">
				</p>
				<button type="submit" class="btn btn-primary btn-block"
				        style="background-color: black; border-color: black"
				        th:utext="${#strings.capitalize(#strings.replace(curPage, '-', ' '))}">
				</button>
			</form>
			<p class="mt-3 text-center">
				<span th:utext="${bottomText}"></span>
				<a th:href="@{'/' + ${page}}"
				   th:utext="${#strings.capitalize(#strings.replace(page, '-', ' '))}"></a>
			</p>
		</div>
	</div>
</div>
</body>
</html>