<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Coffee Shop</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" th:href="@{/css/navbar.css}">
	<style>
		.menu-title {
			text-align: center;
			margin: 10px;
		}

		.menu-image {
			max-width: 100%;
			border-radius: 10px;
			margin-bottom: 10px;
		}
	</style>
</head>
<body>
<th:block th:replace="~{navbar ::navbar('profile', 'news', 'favorites', 'cart', 'index')}"></th:block>
<div class="main-content">
	<h1 class="menu-title">Menu</h1>
	<div class="text-center">
		<a th:href="@{/menu}">
			<img class="img img-responsive menu-image" th:src="@{/img/coffee.webp}" alt="cup">
		</a>
	</div>
</div>
</body>
</html>
