<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Coffee Shop</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/index.css">
</head>
<body>
<nav class="navbar navbar-expand">
	<h1 class="navbar-brand">Coffee Shop</h1>
	<div class="navbar-collapse justify-content-center m-md-2" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="profile">Profile</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="menu">Menu</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="favorites">Favorites</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="news.html">News</a>
			</li>
		</ul>
	</div>
	<div class="navbar-nav ml-auto">
		<div th:if="${auth}" class="nav-item nav-link">
			<a style="color: white;" href="profile"><span th:text="${username}"></span></a>
			<img src="img/coffee-cup.svg" alt="Profile Icon" style="width: 30px; height: 30px; border-radius: 50%;">
		</div>
		<a th:unless="${auth}" class="nav-item nav-link" href="sign-in">Sign In</a>
	</div>
</nav>
<div class="main-content">
	<h1 class="menu-title">Menu</h1>
	<div class="text-center">
		<a href="menu">
			<img class="img img-responsive menu-image" src="img/coffee.webp" alt="cup">
		</a>
	</div>
</div>
</body>
</html>
