<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>News</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/news.css">
</head>
<body>
<nav class="navbar">
	<h1><a class="navbar-brand" href="home">Coffee Shop</a></h1>
	<form class="form-inline my-2 my-lg-0 ml-auto" action="news" method="post">
		<input class="form-control mr-2" type="search" name="requestText" placeholder="Enter news title" aria-label="Search">
		<button class="btn btn-outline-success my-2" type="submit">Search</button>
	</form>
</nav>
<div class="container mt-4">
	<div class="row justify-content-center" th:if="${news.isEmpty()}">
		<div class="message-container">
			<p>No news yet, but they will appear soon</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4" th:each="pieceOfNews : ${news}">
			<a class="news-block" href="piece-of-news.html">
				<img alt="News" class="img-fluid" th:src="@{${pieceOfNews.image}}">
				<p th:text="${pieceOfNews.title}"></p>
			</a>
		</div>
	</div>
</div>
</body>
</html>
