<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>News</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" th:href="@{/css/news.css}">
	<link rel="stylesheet" th:href="@{/css/navbar.css}">
</head>
<body>
<th:block th:replace="~{navbar ::navbar('profile', 'menu', 'favorites', 'cart', 'news')}"></th:block>
<div class="container mt-4">
	<div class="row justify-content-center" th:if="${news.isEmpty()}">
		<div class="message-container">
			<p>No news yet, but they will appear soon</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4" th:each="pieceOfNews : ${news}">
			<a th:href="@{'/news/' + ${pieceOfNews.title} + '?id=' + ${pieceOfNews.id}}" class="news-block">
				<img alt="News" class="img-fluid" th:src="@{'/' + ${pieceOfNews.image}}">
				<p th:text="${pieceOfNews.title}"></p>
			</a>
		</div>
	</div>
</div>
</body>
</html>
