<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title th:utext="${pieceOfNews.title}"></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" th:href="@{/css/navbar.css}">
	<style>
		.news-container {
			max-width: 1000px;
			margin: 50px auto auto;
		}

		.news-image {
			max-width: 100%;
			height: auto;
			margin-bottom: 20px;
			border-radius: 10px;
		}

		.news-content {
			text-align: justify;
		}
	</style>
</head>
<body>
<th:block th:replace="~{navbar ::navbar('profile', 'menu', 'favorites', '')}"></th:block>
<div class="container news-container">
	<div class="row">
		<div class="col-12">
			<img class="img-fluid news-image" alt="News Image" th:src="@{'/' + ${pieceOfNews.image}}">
			<h2 th:utext="${pieceOfNews.title}"></h2>
			<p th:utext="${formattedDate}"></p>
			<div class="news-content">
				<p th:utext="${pieceOfNews.article}"></p>
			</div>
		</div>
	</div>
</div>
</body>
</html>
