<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Sign Up</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" th:href="@{/css/navbar.css}">
</head>
<body>
<th:block th:replace="~{navbar ::navbar('', '', '', '', 'auth')}"></th:block>
<th:block th:replace="~{form ::form('sign-in', 'sign-up', 'Already have an account?')}"></th:block>
</body>
</html>
